# Dependencies
node_modules/
vendor/

# Environment Variables & Secrets
*.env
*.env.local
*.env.*.local
*.pem
*.key

# React Native & Android Build Artifacts
mobile/android/.gradle/
mobile/android/app/build/
mobile/android/build/
mobile/android/local.properties
mobile/android/gradle/wrapper/gradle-*.zip
*.apk
*.aab

# Go Binaries & Output
backend/bin/
backend/dist/
*.exe
*.test


# Hardhat & Solidity Artifacts
contracts/artifacts/
contracts/build/
contracts/typechain-types/


# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
mobile/gradle-9.4.1-bin.zip
